/* Your goal is to turn basic HTML into a responsive, functional navbar, which includes both arranging the items and styling them. The navbar must stretch across the whole page & have a background color set. The items must be arranged horizontally & be placed below the title, which is centered in the middle of the navbar. Good luck! */

html, body {
    margin: 0;
    padding: 0;
}

.navbar {
  width: 100%;
  text-align: center;
  background-color: lightgray;
  text-transform: uppercase;
}

.title {
  margin-top: 0;
  
}

.menu {
  display: flex;
  justify-content: center;
}

.menu-item {
  padding: 2em;
  text-decoration: none;
}